* {
    padding: 0;
    margin: 0;
     font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

.common-btn {
    background: #1D4ED8;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 8px;
}

.container {
    background: #ffffff;
    max-width: 1600px;
    margin: auto;
}

nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.link li {
    display: inline;
    padding: 12px;
    color: #575757;
}

.banner {
    background-image: url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25px;
}

.banner h1 {
    padding-top: 130px;
    padding-bottom: 5px;
    font-size: 80px;
    color: #ffffff;

}

.banner p {
    font-size: 22px;
    color: #ffffef;
    padding-bottom: 400px;
}
.meet h1{
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

.card {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 20px;

}

.cardIn {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.cardIn img {
    width: 100%;
    border-radius: 10px;
}

.subject {
    font-size: 14px;
    color: #1D4ED8;
    margin-top: 10px;
    padding-left: 30px;
}

.position {
    font-size: 15px;
    color: #575757;
padding-bottom: 15px;
}

.cardIn h3 {
    font-size: 25px;
    padding-left: 29px;
}
.secure{
    max-width: 1400px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;

}
.secure-start{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.secure h1{
    font-size: 44px;
    text-align: center;
    padding-top: 30px;
}
.secure h5{
    color: #575757;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
.secure-card{
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.09);
    padding: 40px;
}
.secure-card h3{
   font-size: 44px;
   font-weight: bold;
   padding: 2px;
}
.secure-card p{
    color: #575757;
    padding: 5px;
}
.dash{
    padding: 10px;
    color: #575757;
}
.secure-card ul li{
    padding: 10px;
}
.secure-card button{
    color: #1D4ED8;
    background-color: #ffffff;
    border-color: #1D4ED8;
    padding: 15px 95px;
    border-radius: 10px;
    font-size: 15px;
    width: 100%;

}
.card-black{
    background-color: #080b28;
    color: #ffffff;
}
.secure-card .btn-black{
    background-color: #1D4ED8;
    color: #ffffff;
}